.home {
  display: flex;
}

.productContainer {
  display: flex;
  width: 78%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: start;
}

.filters {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px;
  height: 86vh;
  border-radius: 2%;
}

.filters > span {
  padding-bottom: 20px;
}

.carousel {
  display: flex;
  margin: 0 10%;
  justify-content: center;
  width: 80%;
  background-color: whitesmoke;
  color: red !important;
}

.intro-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 3% 0;
  background-color: azure;
}
