nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  a {
    padding: 1em;
    text-decoration: none;
    color: white;
  }
}

.toggle {
  margin: 25% 0% 0% 15%;
}

.dropdown-menu.show {
  margin-left: -50% !important;
}
