// .navbar-align {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
// }

ul {
  li {
    margin: 0 5%;
  }
}

// .logout {
//   align-self: center;
// }
.search-form {
  display: flex;
  flex-direction: row;
}

a:hover {
  color: #0d6efd !important;
}
